html, body {
  height: 100%;
}
body {
        margin: 0; 
        background-color: rgb(0, 53, 106);
        display: flex;
        flex-direction: column;
      }

      h1 {
        color: white;
        text-align: center;
        font-size: 350%;
        background-color: black;
        margin: 0;
        width: 100%;
        display: block;
        font-family: "SN Pro", sans-serif;
      }

      hr {
        border: none;
        border-top: 2px solid white;
        margin: 0;
      }

      nav {
        text-align: center;
      }

      #div1 {
        display: flex;
        background-color: rgb(164, 144, 98);
        height: 80px;
        padding: 0.2%;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      .navStyle {
        color: white;
        margin: 0 10px;
        border: 2px solid black;
        font-size: 150%;
        text-align: center;
        padding: 5px;
        background-color: rgb(60, 59, 59);
        text-decoration: none;
        width: 90px;
        display: inline-block;
      }
      .navStyle:hover{
        text-decoration: underline;
      }
      .navStyle:active{
        text-decoration: line-through;
        color: blue;
      }
      #homeId {
        color: white;
        font-size: 150%;
        text-align: center;
        border: 3px solid white;
        font-family: "SN Pro", sans-serif;
      }

      #div2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-top: 30px;
      }

      .imgclass {
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: "SN Pro", sans-serif;
      }

      .imgAll {
        width: 200px;
        height: 200px;
        border-radius: 20%;
        object-fit: cover;
        border: 3px solid black; 
      }
      #divText{
        color:white; 
        text-align:center; 
        max-width:800px; 
        margin:0 auto;
        padding: 20px 0 40px 0;
        font-family: "SN Pro", sans-serif;
      }
      #welcome{
        display: block;
        margin-bottom: 40px;
      }
      #quote{
        display: block;
        font-style: italic;
        margin-bottom: 5px;
      }
      #author{
        display: block;
        margin: 0;
      }
      #div3{
        background-color: black;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
      }
      footer{
        color:rgba(255, 217, 0, 0.607); 
        text-align:center;
        padding: 10px 20px;
        font-size: smaller;
        font-family: "Times New Roman", Times, serif;
      }
      #footImg{
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px; 
        object-fit: contain;
        background-color: black;
      }
      .footLine{
        display: block;
      }
      #disBold{
        font-weight: bold;
      }
      #table1{
        margin: 0 auto;
        border: 1px solid white;
        font-family: "SN Pro", sans-serif;
      }
      .tableHeader{
        color: black;
        background-color: #ffffe0;
        font-family: "SN Pro", sans-serif;
        padding: 10px 20px;
        text-align: center;
      }
      #div4{
        color: white;
        margin: 20px 0;
        margin-left: 20%;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
      }
      #hobbiesTitle{
        display: block;
        font-size: large;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      #list2{
        padding-left: 40px;
        font-size: small;
        margin: 0;
        margin-bottom: 50px;
      }
      #googleDocSurvery{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
      }